body {
  background-color: white;
}

div.content {
  margin: 82px auto 48px auto;
  padding-bottom: 48px;
  width: 960px;
  border: 1px solid rgb(157, 202, 157);
}

button.button-add-hearing {
  height: 48px;
  width: 280px;
  padding-left: auto;
  padding-right: auto;
  border: 1px solid darkgreen;
  background-color: #009879;
  color: white;
  font-size: 20px;
}

button.button-add-hearing:hover {
  background-color: #75d4c1;
  color: rgb(38, 61, 38);

}

div.div-add-hearing {
  text-align: center;
}


.hearingHeader {
  margin: 48px auto 24px auto;
}

.hearingHeader h3 {
  text-align: center;
  font-size: 32px;
  color: #046350;
  margin-bottom: 48px;
}

.styled-table {
  border-collapse: collapse;
  margin: 36px auto 12px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover a{
  font-weight: bold;
  color: #009879;
}

.styled-table tbody tr a {
  text-decoration: none;
  color: black;
}

.styled-table tbody tr:hover {
  background-color: rgb(233, 243, 241);
}

span#edit-id-label-text {
  display: block;
  margin-top: 6px;
  padding-top: 0;
  padding-left: 6px;
  margin-bottom: 8px;
  color:#18443b;
  font-size: 12px;
  font-style: italic;
}

h3.edit-dialog-h3 {
  margin-bottom: 0px;
}

hr.greenBreak {
  border: 1px solid darkgreen;
  margin-bottom: 24px

}

.hideElement {
  display: none;
}